<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link href="static/style.css" rel="stylesheet" >
</head>
<body>
<h2>User Registration</h2>
<form>
    <label for="fullName">fullName</label>
    <input type="text" id="fullName">

    <label for="username">Username</label>
    <input type="text" id="username">

    <label for="password">Password</label>
    <input type="password" id="password">
    <button>sign up</button>
</form>
</body>
</html>
